*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  font-family: 'DM Sans', sans-serif;
  color: white;
}


header{
  width: 100%;
  background-image: url("../img/background_web.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -10px 25px black inset;
}

/* NAV -----------*/
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.left-side{
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.logo {
  width: 45px;
  margin-right: 25px;
}

nav select{
  width: 60px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: white;
  font-size: 9px;
  font-weight: 600;
}

nav select option{
  background-color: black;
}

.right-side{
  display: flex;
  align-items: center;
}

.right-side img{
  width: 9px;
  margin-right: 14px;
  cursor: pointer;
}
.right-side img:nth-child(3){
  width: 30px;
  border-radius: 8px;
  margin-left: 5px;
  padding: 5px 0;
}

.tablet, .pc-menu, .pc, .pc-max{
  display: none;
}

/* .video-container{
  width: 100%;
  position: relative;
}
video{
  width: 100%;
}

.video-container img{
  width: 200px;
  position: absolute;
  bottom: 25px;
}
.video-container p{
  position: absolute;
  bottom: 25px;
  font-size: 20px;
  color: white;
} */

/* END NAV ---------------------*/

.text-container{
  margin-left: 15px;
}

.text-container img{
  width: 40%;
  margin-top: 7%;
}

.text-container p{
  width: 35%;
  font-size: 5px;
  line-height: 6px;
}

.text-container button{
  margin: 5px 0;
  margin-bottom: 10%;
  padding: 2% 0;
  font-size: 60%;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
}

.text-container button i{
  padding-right: 5px;
}

.text-container button:nth-child(3){
  width: 25%;
  color: black;
}

.text-container button:nth-child(4){
  width: 33%;
  background-color: rgba(107, 97, 97, 0.7);
}

/*HEADER-STYLES FOR TABLET --------------*/
@media screen and (min-width:480px) {
  nav{
    height: 40px;
  }

  .left-side{
    margin-left: 30px;
  }
  
  .logo {
    width: 75px;
  }

  nav select{
    font-size: 11px;
    font-weight: 700;
    width: 70px;
  }

  .right-side{
    margin-right:20px;
  }

  .right-side img{
    width: 17px;
  }

  .right-side img:nth-child(2){
    margin-left: 10px;
  }

  .right-side img:nth-child(3){
    width: 32px;
  }
  
  .tablet{
    display: inline-block;
  }

  .text-container{
    margin-left: 30px;
  }

  .text-container p{
    width: 45%;
    font-size: 12px;
    line-height: 15px;
    text-shadow: black 2px 1px;
    padding: 10px 0;
  }

  .text-container button{
    padding: 1.2% 0;
    font-size: 15px;
    font-weight: 600;
  }
  
  .text-container button i{
    font-size: 17px;
  }
  
  .text-container button:nth-child(3){
    width: 20%;
  }
  
  .text-container button:nth-child(4){
    width: 30%;
  }
}

/*HEADER-STYLES FOR PC -----------------*/
@media screen and (min-width:769px){
  select{
    display: none;
  }

  nav{
    height: 65px;
  }
  
  .logo {
    width: 90px;
  }

  .pc-menu{
    display: inline-block;
    display: flex;
    font-size: 12px;
  }

  .pc-menu li{
    list-style: none;
  }

  .pc-menu a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
  }

  .pc-menu a:hover{
    color: rgb(192, 192, 192);
  }
  
  .text-container p{
    width: 45%;
    font-size: 16px;
    line-height: 20px;
  }

  .text-container button:hover{
    background-color: rgb(128, 128, 128, 0.5);
    cursor: pointer;
  }

  .text-container button:nth-child(3):hover{
    background-color: rgba(255, 255, 255, 0.8);
  }

  .text-container button:nth-child(3){
    width: 15%;
  }
  .text-container button:nth-child(4){
    width: 20%;
  }
}
@media screen and (min-width:1024px){
  
  .left-side{
    padding-left: 25px;
  }

  .pc-menu{
    font-size: 15px;
    font-weight: normal;
  }

  .text-container{
    padding-left: 25px;
  }

  .text-container p{
    width: 40%;
    font-size: 20px;
    line-height: 25px;
  }

  .text-container button{
    padding: 1% 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
  }

  .text-container button:nth-child(3){
    width: 13%;
    margin-right: 8px;
  }
  .text-container button:nth-child(4){
    width: 16%;
  }
}
/* END HEADER -------------------------*/



/* SECTION */
section{
  padding-left: 15px;
  width: 100%;
}

section div{
  padding-bottom: 10px;
}

section h2{
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 5px;
}

section div img{
  width: 47.5%;
  max-width: 243px;
  height: 20%;
  max-height: 150px;
  cursor: pointer;
  /* height: 90px;
  object-fit: cover; */
}

.progress{
  display: flex;
  flex-wrap: wrap;
}

.progress progress{
  width: 30%;
  height: 3px;
  background-color: gray;
  border-radius: 50px;
}

.progress progress:nth-child(1){
  margin-left: 8%;
}

.progress progress:nth-child(2){
  margin-left: 17%;
}

progress::-webkit-progress-bar {
  background-color: rgb(78, 78, 78);
  border-radius: 50px;
  
}
progress::-webkit-progress-value {
  background-color: rgb(221, 0, 0);
  border-radius: 50px;
}

/* END OF SECTION --------------------------------*/

/* SECTION-FOOTER STYLES FOR TABLET -----------------*/
@media screen and (min-width:480px){
  section{
    padding-left: 30px;
  }
  
  section div{
    padding-bottom: 20px;
  }
  
  section h2{
    font-size: 14px;
    padding-bottom: 7px;
  }

  section div img{
  width: 32%;
  max-width: 242px;
  }

  .progress{
    width: 97%;
    justify-content: space-around;
  }

  .progress progress{
    width: 20%;
  }

  .progress progress:nth-child(1){
    margin-left: 0%;
  }
  .progress progress:nth-child(2){
    margin-left: 0%;
  }

  footer{
    margin-left: 30px;
  }
  .links{
    width: 500px;
  }
  .code{
    padding-bottom: 20px;
    display: flex;
  }

}
/* SECTION-FOOTER STYLES FOR PC -----------------*/
@media screen and (min-width:769px){
  .pc{
    display: inline-block;
  }

  section h2{
    font-size: 16px;
    padding-bottom: 9px;
  }
  section div img{
  width: 24%;
  max-width: 240px;
  }

  footer{
    margin-left: 45px;
  }
  .links{
    width: 50%;
    display: flex;
    font-size: 16px;
    font-weight: 500;
  }
  
  .links ul li{
    list-style: none;
    padding-bottom: 15px;
  }

  .code{
    padding-bottom: 20px;
    display: flex;
  }


}

@media screen and (min-width:1024px){
  section{
    margin-left: 25px;
  }
  section h2{
    font-size: 19px;
  }
  section div{
    margin-bottom: 20px;
  }

  section div img{
  width: 19%;
  max-width: 255px;
  }

  .progress{
    width: 96%;
  }

  .progress progress{
    width: 15%;
    /* margin-left: 1px; */
  }

  .pc-max{
    display: inline-block;
  }
}

/* FOOTER ---------------------------------------*/

footer{
  padding: 0 15px;
  font-weight: normal;
  color: gray;
}

.social-network{
  width: 200px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 23px;
  margin: 70px 0 15px;
}

.social-network a:hover{
  /* color: rgb(224, 1, 1); */
  color: white;
}
.social-network a:visited{
  color: white;
}

.links{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
}

.links ul li{
  list-style: none;
  padding-bottom: 15px;
}
.links ul a{
  text-decoration: none;
  color: gray;
}

footer button{
  color: gray;
  background-color: transparent;
  border: gray solid 1px;
  padding: 8px 5px;
  margin: 20px 0;
}

footer button:active{
  background-color: rgba(98, 203, 245, 0.5);
  content: "9090";
}

footer button:hover{
  color: white;
}

footer p{
  font-size: 11px;
  font-weight: 500;
}

footer p:nth-child(5){
  margin-bottom: 15px;
}

