body{
   width: 100%;
   max-width: 900px;
   margin: auto;
   font-family: 'Poppins', sans-serif;
   background-color: rgb(231, 231, 231);
}

h2{
   font-size: 16px;
}
h1{
   font-size: 25px;
   font-weight: normal;
}

header{
   text-align: center;
   margin-top: 20px;
}

header .name{
   background-image: url("../img/fondo.jpg");
   background-size: cover;
   /* background-repeat: no-repeat; */
   background-position: center;
   color: white;
   border-radius: 10px;
   padding-top: 50px;
}

.contacto hr{
   width: 850px;
   border-color: white
}

section{
   background-color: white;
   border-radius: 10px;
   padding: 10px 20px;
   margin: 15px;
}


.image-profile{
   width: 200px;
   height: 200px;
   border-radius: 50%;
}


.title{
   font-weight: bold;
   color: rgb(71, 71, 71);
}

.general-info{
   position: relative;
}
.skills{
   /* background-color: rgb(255, 120, 172); */
   position: absolute;
   left: 620px;
   top: 10px;
}

.social-net{
   position: fixed;
   bottom: 20px;
   right: 100px;
}

.social-net img{
   width: 50px;
}

.social-net ul{
   list-style: none;
}

footer{
   margin-top: 30px;
   text-align: center;
}